<h1>Listing histories</h1>

<table>
  <thead>
    <tr>
      <th>Phone number</th>
      <th>Coupon code</th>
      <th>Nominal usage</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.phone_number.insert(4, '-')  %></td>
        <td><%= history.coupon_code.gsub(/(.{4})(?=.)/, '\1 \2')%></td>
        <td><%= history.nominal_usage %></td>
        <td><%= history.date %></td>
        <td><%= link_to 'Show', rahasia_history_path(history) %></td>
        <!-- <td><%#= link_to 'Edit', edit_rahasia_history_path(history) %></td>
        <td><%#= link_to 'Destroy', rahasia_history_path(history) , method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

