<%= form_for [:rahasia, @coupon]  do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= select("coupon", "nominal", @vouchers.collect {|p| [ p.nominal, p.nominal ] }) %>
  </div>

  <% if @coupon.new_record? %>
    <div class="field">
      <%= label_tag :quantity %>
      <%= number_field_tag :quantity, '1', in: 1..100 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
