<h1>Listing coupons</h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Nominal</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% number = 0 %>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%=number += 1 %></td>
        <td><%= coupon.code %></td>
        <td><%= number_to_currency(coupon.nominal, :unit => "Rp ") %></td>
        <td><%= number_to_currency(coupon.balance, :unit => "Rp ") %></td>
        <td><%= link_to 'Show', rahasia_coupon_path(coupon) %> | <%= link_to 'Edit', edit_rahasia_coupon_path(coupon) %> | <%= link_to 'Destroy', rahasia_coupon_path(coupon), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupon', new_rahasia_coupon_path %>
