<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
 -->
  <div class="field">
    <%= select("coupon", "nominal", @vouchers.collect {|p| [ p.nominal, p.nominal ] }) %>
  </div>

  <div class="field">
    <%= label_tag :quantity %><br>
    <%= number_field_tag :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
