<h1>Listing histories</h1>

<table>
  <thead>
    <tr>
      <th>Phone number</th>
      <th>Coupon code</th>
      <th>Nominal usage</th>
      <th>Date</th>
      <th>Voucher code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.phone_number %></td>
        <td><%= history.coupon_code %></td>
        <td><%= history.nominal_usage %></td>
        <td><%= history.date %></td>
        <td><%= history.voucher_code %></td>
        <td><%= link_to 'Show', history %></td>
        <td><%= link_to 'Edit', edit_history_path(history) %></td>
        <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History', new_history_path %>
