<% vouchers = Voucher.all %>
<%= command %>
<div class="field">
  <%= form_tag(phone_numbers_coupon_validate_path, remote: true) %>
  <%= text_field_tag("coupon_code") %>
  <%= label_tag("voucher","Pilih Nominal Voucher") %>
  <%= select("coupon", "nominal", vouchers.collect {|p| [ p.nominal, p.nominal ]}) %>
  <%= submit_tag "Submit" %>
</div>
<div id="notification"></div>