<h1>Listing vouchers</h1>

<table>
  <thead>
    <tr>
      <th>Nominal</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= number_to_currency(voucher.nominal, :unit => "Rp ") %></td>
        <td><%= link_to 'Show', rahasia_voucher_path(voucher)%> | <%= link_to 'Edit', edit_rahasia_voucher_path(voucher) %> | <%= link_to 'Destroy', rahasia_voucher_path(voucher), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voucher', new_rahasia_voucher_path %>
